# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# ENV variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.keys

# Web builds
web-build/
dist/
.dev/
.cache/

# iOS/Android Native folders
ios/
android/

# Supabase
.supabase/
supabase/.temp/
supabase/.branches/

# IDEs
.idea/
.vscode/
*.swp
*.swo
